---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=San%20Francisco
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4992'
      Ratelimit-Resettime:
      - '2018-06-15T00:00:00+00:00'
      X-Proxied:
      - 10-65-123-187-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "lJAGnYzku5zSaLnQ_T6_GQ", "alias": "brendas-french-soul-food-san-francisco",
        "name": "Brenda''s French Soul Food", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/YT8ho02lCT6Ubu3vx8uCaw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/brendas-french-soul-food-san-francisco?adjust_creative=-pz45lFH4aD0aS0s94dStQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-pz45lFH4aD0aS0s94dStQ",
        "review_count": 9213, "categories": [{"alias": "breakfast_brunch", "title":
        "Breakfast & Brunch"}, {"alias": "french", "title": "French"}, {"alias": "soulfood",
        "title": "Soul Food"}], "rating": 4.0, "coordinates": {"latitude": 37.7829016035273,
        "longitude": -122.419043442957}, "transactions": [], "price": "$$", "location":
        {"address1": "652 Polk St", "address2": "1234", "address3": "5678", "city": "San Francisco",
        "zip_code": "94102", "country": "US", "state": "CA", "display_address": ["652
        Polk St", "San Francisco, CA 94102"]}, "phone": "+14153458100", "display_phone":
        "(415) 345-8100", "distance": 2885.38913097158}, {"id": "WavvLdfdP6g8aZTtbBQHTw",
        "alias": "gary-danko-san-francisco", "name": "Gary Danko", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/NCX50ST3Hjg7y8wTcwQXog/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/gary-danko-san-francisco?adjust_creative=-pz45lFH4aD0aS0s94dStQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=-pz45lFH4aD0aS0s94dStQ",
        "review_count": 4788, "categories": [{"alias": "newamerican", "titl[...]
