---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/transactions/delivery/search?location=San%20Francisco
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4994'
      Ratelimit-Resettime:
      - '2018-06-27T00:00:00+00:00'
      X-Proxied:
      - 10-65-81-72-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "DAiqwrmv19Uv-I1bOoAJCQ", "alias": "baiano-pizzeria-san-francisco-3",
        "name": "Baiano Pizzeria", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/1UBizBJVlcfGcicFRNj3hw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/baiano-pizzeria-san-francisco-3?adjust_creative=-pz45lFH4aD0aS0s94dStQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_transactions_search_delivery&utm_source=-pz45lFH4aD0aS0s94dStQ",
        "review_count": 150, "categories": [{"alias": "pizza", "title": "Pizza"},
        {"alias": "salad", "title": "Salad"}], "rating": 4.0, "coordinates": {"latitude":
        37.7741681941565, "longitude": -122.422267710877}, "transactions": ["pickup",
        "delivery"], "price": "$", "location": {"address1": "100 Gough St", "address2":
        "1234", "address3": "1234", "city": "San Francisco", "zip_code": "94102", "country":
        "US", "state": "CA", "display_address": ["100 Gough St", "San Francisco, CA
        94102"]}, "phone": "+14156211401", "display_phone": "(415) 621-1401"}, {"id":
        "QWZO1RdLbG5h0RGDiItoAA", "alias": "zaoh-restaurant-san-francisco", "name":
        "Zaoh Restaurant", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/M9ZRVjDuFqUz7dHjJVhGEg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/zaoh-restaurant-san-francisco?adjust_creative=-pz45lFH4aD0aS0s94dStQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_transactions_search_delivery&utm_source=-pz45lFH4aD0aS0s94dStQ",
        "review_count": 240, "categorie[...]
